node_modules
.DS_Store
t.ts
/deno.lock
/lib
/playground
/coverage-reports

# Lagune
/.lagune/templates/
/.lagune/hooks/
/.lagune/specializations.md
/.lagune/skills/*
/.lagune/proofs
!/.lagune/skills/sql.md
/**/lagune.*
/**/lagune/
/.lagune/proofs/
